.navbar {
    height: 30px;
    background-color: #1F2937;
}
.hero {
    height: 30px;
    background-color: #1F2937;
}
.information {
    height: 30px;
}
.quote {
    height: 30px;
    background-color: #E5e7eb;
}
.calltoaction {
    height: 30px;
}
.footer {
    height: 30px;
    background-color: #1F2937;
}